body {
    background-color: #d8d8d8;
}

.heading {
    width: 100%;
    text-align: center;
}

a {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    text-emphasis: none;
    text-decoration: none;
}